.mainContainer{
    flex: 1 0 calc(100% - 530px);
    width: calc(100% - 530px);
    padding: 30px;
    background: rgba(54,60,89,.6);
    border-radius: 8px;
}
.heading {
    padding-right: 20px;
    position: relative;
}
.heading::after {
    position:absolute;
    border-left: 3px solid #bbb;
    content:" ";
    height:20px;
    right:0;
    top:4px;
}
.tabContentContainer {
    padding-top: 15px;
    /* overflow: hidden;
    overflow-y: auto; */
    height: calc(100% - 100px);
}
.sliderContainer {
    padding: 0 30px;
}
.imgSliderWrapper {
    width: 220px;
    height: 220px;
    padding:0 10px;
}

.imgSliderWrapper img {
    width: 100%;
    height: 100%;
}

.arrowCustom {
    height: 220px;
}

.slick-prev {
    left:0 !important;
}
.slick-next {
    right:0 !important;
    ;
}