<!-- Banner Starts -->
<div class="banner-wrapper">
    <div id="banner" class="row d-flex banner-heading">
        <div class="col-md-12 text-center">
            <h1 class="pb-4 varela-font">What happens tomorrow?</h1>
            <p class="pb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero atque, iure dolorem minima rem facere explicabo iste distinctio ad tempora ratione tenetur laudantium quaerat incidunt similique quia voluptas aperiam quam!</p>
            <button class="btn common-btn">
            <i class="fa fa-play"></i>Watch Video
                </button>
        </div>
        <div class="row mt-4 banner-img">
            <div class="col-md-12 text-center">
                <img src="assets/images/header_iphone.png" alt="header-iphone">
            </div>
        </div>
    </div>
</div>
<!-- Banner Ends -->
<!-- Feature Section Starts -->
<div class="mr-top container" id="feature">
    <div class="row d-flex">
        <div class="col-md-6 px-5 lato-font sp-feature">
            <div class="logo py-4">
                <i class="fa fa-lock"></i>
            </div>
            <div class="content">
                <div class="heading mb-4">
                    <h4>Real Time All the Time</h4>
                </div>
                <div class="p1 mb-4 text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, fugiat obcaecati deserunt a culpa explicabo enim placeat! </div>
                <div class="p2 text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quasi perspiciatis beatae eius porro consequuntur odit. Laborum odio totam laboriosam</div>
            </div>
        </div>
        <div class="col-md-6 px-5 lato-font sp-feature">
            <div class="logo py-4">
                <i class="fa fa-clock-o"></i>
            </div>
            <div class="content">
                <div class="heading mb-4">
                    <h4>Adopt without any obstacles</h4>
                </div>
                <div class="p1 mb-4 text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, fugiat obcaecati deserunt a culpa explicabo enim placeat! </div>
                <div class="p2 text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quasi perspiciatis beatae eius porro consequuntur odit. Laborum odio totam laboriosam</div>
            </div>
        </div>
    </div>
    <div class="mr-top container" id="protected">
        <div class="day-pro">
            <div class="row d-flex">
                <div class="col-md-6 iphone-feature">
                    <img src="assets/images/iphone-feature.png">
                </div>
                <div class="col-md-6 px-5 about-feature">
                    <div class="content">
                        <div class="heading mb-4 varela-font">
                            <h4>Your Day<br>is Protected</h4>
                        </div>
                        <div class="p1 mb-4 text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, fugiat obcaecati deserunt a culpa explicabo enim placeat! </div>
                        <div class="p2 text-secondary mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quasi perspiciatis beatae eius porro consequuntur odit. Laborum odio totam laboriosam</div>
                        <div class="feature-buttons d-flex">
                            <div class="col-md-4 px-0">
                                <button class="btn common-btn">
                  Try to hack us<i class="fa fa-arrow-right text-right"></i>
                </button>
                            </div>
                            <div class="col-md-4 offset-1">
                                <button class="btn common-btn">
                  Learn More
                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mr-top container" id="everywhere">
        <div class="row d-flex">
            <div class="col-md-6 px-1 py-5">
                <div class="content">
                    <div class="heading mb-4 varela-font">
                        <h4>We are almost<br>everywhere</h4>
                    </div>
                    <div class="p1 mb-4 text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, fugiat obcaecati deserunt a culpa explicabo enim placeat! </div>
                    <div class="p2 text-secondary mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quasi perspiciatis beatae eius porro consequuntur odit. Laborum odio totam laboriosam</div>
                    <div class="partner">
                        <p class="bold-text mb-3">PARTNERS</p>
                        <img src="assets/images/dropbox.png" alt="dropbox">
                        <img src="assets/images/evernote.png" alt="everynote">
                    </div>
                </div>
            </div>
            <div class="col-md-6 world-image">
                <img src="assets/images/map.png" alt="world-image">
            </div>
        </div>
    </div>
</div>
<!-- Feature Section Ends -->

<!-- Interface section Starts -->
<div class="mr-top mul-images mr-bottom" id="beutiful-interface">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 text-center content">
                <div class="heading varela-font mr-top">
                    <h4 class="p-top">Beautiful Interface</h4>
                </div>
                <div class="hborder"></div>
                <p class="text-secondary pt-4">LANDING SCREEN</p>
            </div>
        </div>
    </div>
    <div class="mr-top row d-flex interface-images px-0 no-gutters">
        <ul class="images-list">
            <li>
                <img src="../../assets/images/interface/img-1.png" alt="">
            </li>
            <li>
                <img src="../../assets/images/interface/img-2.png" alt="">
            </li>
            <li class="main-img">
                <img src="../../assets/images/interface/main-img.png" alt="">
            </li>
            <li>
                <img src="../../assets/images/interface/img-3.png" alt="">
            </li>
            <li>
                <img src="../../assets/images/interface/img-4.png" alt="">
            </li>
        </ul>
    </div>
    <div id="ready-to-buy">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="subtitle">New<span class="f-w-400">Providence</span></p>
                    <h2>Get it to your smartphone</h2>
                    <form action="">
                        <div class="form-group">
                            <input type="email" placeholder="Email here">
                            <a href="#" class="btn btn-green">Send Invite <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </form>
                    <p class="subtitle">Or Download From</p>
                    <div class="download-btn">
                        <a href="#" class="btn btn-dark">
                            <i class="fa fa-apple"></i>
                            <span>Dowload on the <br><b>App Store</b></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //Ready to Buy -->
</div>
<!-- Interface Section Ends -->

<!-- Review Section Starts -->
<div class="review mr-top container">
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <div class="container">
                <div class="row d-flex justify-content-center img-box">
                    <img src="../../assets/images/user1.jpg" class="rounded-circle">
                </div>
            </div>
            <div class="rev-content">
                <div class="row d-flex justify-content-center head">
                    <h3>New Providence is Great UI kit.</h3>
                </div>
                <div class="row d-flex text-center content">
                    <p>“Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”</p>
                </div>
                <div class="row d-flex justify-content-center rating">
                    <i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i>
                </div>
                <div class="row d-flex justify-content-center name">
                    <p>Bella Cullen</p>
                </div>
            </div>
        </div>
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <div class="container">
                <div class="row d-flex justify-content-center img-box">
                    <img src="../../assets/images/user2.jpg" class="rounded-circle">
                </div>
            </div>
            <div class="rev-content">
                <div class="row d-flex justify-content-center head">
                    <h3>New Providence is Great UI kit.</h3>
                </div>
                <div class="row d-flex text-center content">
                    <p>“Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”</p>
                </div>
                <div class="row d-flex justify-content-center rating">
                    <i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star"></i>
                </div>
                <div class="row d-flex justify-content-center name">
                    <p>Edward Cullen</p>
                </div>
            </div>
        </div>
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <div class="container">
                <div class="row d-flex justify-content-center img-box">
                    <img src="../../assets/images/user3.jpg" class="rounded-circle">
                </div>
            </div>
            <div class="rev-content">
                <div class="row d-flex justify-content-center head">
                    <h3>New Providence is Great UI kit.</h3>
                </div>
                <div class="row d-flex text-center content">
                    <p>“Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”</p>
                </div>
                <div class="row d-flex justify-content-center rating">
                    <i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i>
                </div>
                <div class="row d-flex justify-content-center name">
                    <p>Alis Cullen</p>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</div>
<!-- Review Section Ends -->

<!-- Plan Section Starts -->
<div id="plan">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Choose your perfect plan</h2>
                <p class="subtitle">You are</p>
                <div class="toggle-container cf">
                    <div class="switch-toggles">
                        <div class="individual">Individual</div>
                        <!-- active -->
                        <div class="company">Company</div>
                    </div>
                </div>
                <p>
                    Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
                </p>
                <p class="info">Have a bigger team? <a href="#">Let‘s talk</a></p>
            </div>
            <div id="price_tables" class="col-md-7 offset-1">
                <div class="individual cf">
                    <div class="price-table highlighted">
                        <div class="table-inner text-center">
                            <h3>Starter</h3>
                            <span class="price">Free</span>
                            <p class="phrase">Build your schedule<br> every day</p>
                            <ul class="feature-list">
                                <li><i class="fa fa-check"></i> Unlimeted events</li>
                                <li><i class="fa fa-check"></i> Connect Dropbox & Evernote</li>
                                <li>&nbsp;</li>
                            </ul>
                            <a href="" class="btn btn-blue">Get Started</a>
                        </div>
                    </div>
                    <div class="price-table">
                        <div class="table-inner text-center">
                            <h3>Pro</h3>
                            <span class="price">$4.99</span>
                            <p class="phrase">Make your life<br> better</p>
                            <ul class="feature-list">
                                <li><i class="fa fa-check"></i> Unlimeted events</li>
                                <li><i class="fa fa-check"></i> Connect Dropbox & Evernote</li>
                                <li><i class="fa fa-check"></i> Personal assistant</li>
                            </ul>
                            <a href="" class="btn btn-blue">Make me a pro</a>
                        </div>
                    </div>
                </div>
                <div class="company cf">
                    <div class="price-table highlighted">
                        <div class="table-inner text-center">
                            <h3>Starter</h3>
                            <span class="price">Free</span>
                            <p class="phrase">Build your schedule<br> every day</p>
                            <ul class="feature-list">
                                <li><i class="fa fa-check"></i> Unlimeted events</li>
                                <li><i class="fa fa-check"></i> Connect Dropbox & Evernote</li>
                                <li>&nbsp;</li>
                            </ul>
                            <a href="" class="btn btn-blue">Get Started</a>
                        </div>
                    </div>
                    <div class="price-table">
                        <div class="table-inner text-center">
                            <h3>Pro</h3>
                            <span class="price">$4.99</span>
                            <p class="phrase">Make your life<br> better</p>
                            <ul class="feature-list">
                                <li><i class="fa fa-check"></i> Unlimeted events</li>
                                <li><i class="fa fa-check"></i> Connect Dropbox & Evernote</li>
                                <li><i class="fa fa-check"></i> Personal assistant</li>
                            </ul>
                            <a href="" class="btn btn-blue">Make me a pro</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Plan Section Ends -->

<!-- Subscribe Section Starts -->
<div id="subscribe" class="mr-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="subtitle"></p>
                <h2>Subscribe our newsletters</h2>
                <form action="">
                    <div class="form-group">
                        <input type="email" placeholder="Email here">
                        <a href="#" class="btn btn-green">Subscribe</a>
                    </div>
                </form>
                <p class="promise">We promise to never spam you.</p>
            </div>
        </div>
    </div>
</div>
<!-- Subscribe Section Endss -->

<script>
    // Price Table
    var individual_price_table = $('#price_tables').find('.individual');
    var company_price_table = $('#price_tables').find('.company');


    $('.switch-toggles').find('.individual').addClass('active');
    $('#price_tables').find('.individual').addClass('active');

    $('.switch-toggles').find('.individual').on('click', function() {
        $(this).addClass('active');
        $(this).closest('.switch-toggles').removeClass('active');
        $(this).siblings().removeClass('active');
        individual_price_table.addClass('active');
        company_price_table.removeClass('active');
    });

    $('.switch-toggles').find('.company').on('click', function() {
        $(this).addClass('active');
        $(this).closest('.switch-toggles').addClass('active');
        $(this).siblings().removeClass('active');
        company_price_table.addClass('active');
        individual_price_table.removeClass('active');
    });
</script>