* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fc-blue {
  color: #083f85;
}

.center {
  text-align: center;
}

.mb-20 {
  margin-bottom: 20px;
}

.container {
  max-width: 1368px;
  margin: auto;
  padding: 0 15px;
}

.pokemon-image {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.pokemon-list {
  height: 150px;
  overflow-y: scroll;
}

.pokemon-list li {
  margin-bottom: 5px;
}

.pokemon-wrapper {
  padding: 50px 200px;
}

.pokemon-wrapper .search-pokemon {
  width: 100%;
  margin: 10px 0;
  height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  font-size: 16px;
}

.pokemon-wrapper .about-pokemon {
  padding: 30px 0;
}

.pokemon-list li button {
  background-color: #083f85;
  color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  outline: none;
}

.pokemon-stat {
  border: 10px solid #083f85cc;
}

.pokemon-stat {
  background-color: #03142bdc;
  margin-bottom: 20px;
}
.pokemon-stat + button {
  background: transparent;
  border: 1px solid #000;
  background-color: lightgray;
  border-radius: 5px;
  width: 100%;
  padding: 12px 0;
  font-size: 16px;
  cursor: pointer;
}
td {
  padding: 8px;
  text-align: left;
  background-color: #3b6aa7dc;
  color: #fff;
  border-radius: 5px;
}
