<header id="header-menu">
    <div class="container">
        <div class="row d-flex text-center py-3">
            <div class="col-md-4 text-left">
                <ul class="navbar-list">
                    <li>
                        <a href="#home"><i class="fa fa-bars"></i></a>
                    </li>
                    <li><a href="#news">Tour</a></li>
                    <li><a href="#feature">Features</a></li>
                    <li><a href="#about">Pricing</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center">
                <img src="assets/images/logo.png" alt="New_Providence">
            </div>
            <div class="col-md-4 text-right">
                <ul class="navbar-list">
                    <li><a href="#home">Help</a></li>
                    <li>
                        <a href="/contact-us">Contacts</a>
                    </li>
                    <li><a href="#about"><button class="gbtn btn"><i class="fa fa-apple"></i>Get App</button></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>