$color-white:#ffffff;
$color-yellow:yellow;
$color-black:black;
$color-red:red;
$color-common:#95e1d3;
$color-common2:#f38181;
$stats-box:rgba(255, 255, 255, 0.4);
$nav-bar-back:rgba(241, 114, 114, 0.8);
$unique-device-back1:rgba(255, 255, 255, .85);
$unique-device-back2:rgba(255, 255, 255, .9);
$accordian-arrow:#999999;
$service-scroll-box:lightgray;
$service-scroll2:#b30000;
$slider-back:#f8f8f8;
$carousel-icon:gray;
$know-team-color: #999999;
$know-team-back: #fce38a;
$overlay-back1:#fbe389;
$review-color: #333333;
$color-input:#e7e7e7;
// Fonts
$font-Montserrat:'Montserrat';
$font-Kaushan:'Kaushan Script';